# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#frontend

# Dependencies
/frontend/node_modules

# Next.js
/frontend/.next/
/frontend/out/

# Production
/build

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Env files
.env*

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts

#POS App

# Build results
bin/
obj/
[Bb]uild/
[Bb]in/
[Oo]bj/

# Visual Studio folders
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VS Code
.idea/
.vscode/

# NuGet
*.nupkg
*.snupkg
*.nuspec
packages/
*.dll
*.exe

# Logs
*.log

# Others
[Tt]emp/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rtifacts/

# Publish
**/PublishProfiles/

# Ignore SQLite / Local DBs if generated
*.mdf
*.ldf

# Ignore secrets/config if local only
appsettings.json
node_modules
